.catagory {
    &__title {
        text-align: center;
        margin-bottom: 4.8rem;
    }
    &__list {
        display: flex;
        gap: 3.2rem;
    }
    &-item {
        padding: 3.2rem;
        border: 0.1rem solid #6D6E764D;
        
        &__icon {
            background: #FBF6EA;
            border-radius: 10%;
            width: 4.8rem;
            height: 4.8rem;
            margin-bottom: 1.6rem;

            svg {
                width: 100%;
                height: 100%;
            }
        }
        h3 {
            margin-bottom: 0.4rem;
        }
        .body01 {
            color: #6D6E76;
        }

        &:hover {
            background: #FFD050;
        }
    }
}