.homeAbout {
    &-pattern {
        display: grid;
        grid-template-columns: 1fr 77.9rem 28.2rem;

        div {
            height: 2.3rem;
            &:nth-child(1) {
            }
            &:nth-child(2) {
                background: #FFD050;
            }
            &:nth-child(3) {
                background: #592EA9;
            }
        }
    }
    &-container {
        background: #F4F0F8;
        padding: 8rem;
        display: flex;
        gap: 6rem;
    }
    &-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        &__subtitle {
            font-family: 'Inter';
            font-size: 1.6rem;
            font-weight: 600;
            margin-bottom: 0.6rem;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        .link {
            font-weight: 700;
            font-size: 1.8rem;
        }
        .body01 {
            color: #6D6E76;
        }
    }
}